
.header {
  background-image: url("../assets/header_building.jpg");
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

$content-background-color: rgba(143, 42, 26, 0.7);

.header-content {
  padding: spacing(55) 0 spacing(60);
  background: $content-background-color;
  box-shadow: -470px 0px 0px 500px $content-background-color;
  @media screen and (max-width: $bp-sm - 1) {
    padding: spacing(35) 0 spacing(40);
  }

}

.header-content__title {
  font-size: 3em;
  color: white;
}

.header-content__description {
  padding-top: spacing(3);
  color: white;
}

.content {
  padding: spacing(20) 0;
}

.vision {
  text-align: center;
  color: $darker-grey;
  margin: spacing(5) 0;
}

.vision-title {
  padding-bottom: spacing(5);
}

.vision-text {
  font-size: 1.2em;
  line-height: 150%;
  strong {
    color: $dark-ruby;
  }
}

.image {
  height: 400px;
  background-image: url("../assets/computers.jpg");
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vision-block {
  margin: spacing(4) 0;
}

.vision-block__title {
  padding-bottom: spacing(4);
  color: $dark-ruby;
  text-align: center;
}

.vision-block__text {
  color: $darker-grey;
  line-height: 130%;
}
