p {
  margin: spacing(3) 0;
}

.header {
  background-image: url("../assets/image2.png");
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.header-content {
  padding: spacing(60) 0 spacing(65);
  background: $content-background-color;
  box-shadow: -470px 0px 0px 500px $content-background-color;
  @media screen and (max-width: $bp-sm - 1) {
    padding: spacing(35) 0 spacing(40);
  }
}

.header-content__title {
  font-size: 3em;
  color: white;
  animation: fade-in 0.5s
}

.header-content__description {
  padding-top: spacing(3);
  font-size: 1.1em;
  color: white;
  animation: fade-in 0.5s;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 100%; }
}

.content {
  padding: spacing(10) 0;
}

.content--grey {
  background-color: $light-grey;
}

.vision {
  text-align: center;
  color: $darker-grey;
  margin: spacing(6) 0;
}

.vision-title {
  padding-bottom: spacing(5);
}

.vision-text {
  font-size: 1.3em;
  line-height: 150%;
  strong {
    color: $dark-ruby;
  }
}

.image {
  height: 500px;
  background-image: url("../assets/computers.jpg");
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row:before, .row:after{
  display: none;
}

.vision-row {
  padding: spacing(10) 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

.vision-column {
  display: flex;
  flex-direction: column;
}

.vision-column__image {
  align-items: center;
  justify-content: center;
  padding-bottom: spacing(6);
}

$icon-size: 100px;

.vision-image {
  height: $icon-size;
}

.vision-block__title {
  padding-bottom: spacing(4);
  color: $dark-ruby;
  text-align: center;
}

.vision-block__text {
  font-size: 1.2em;
  @media screen and (max-width: $bp-sm - 1) {
    font-size: 1.1em;
  }
  color: $darker-grey;
  line-height: 135%;
  text-align: justify;
}

.contact__title {
  color: $dark-ruby;
  text-align: center;
  margin-bottom: spacing(4)
}

.contact__icon {
  height: 60px;
}

.footer {
  padding: spacing(15) spacing(0) spacing(20)
}

input[type=text], select, textarea {
  width: 100%;
  padding: spacing(2);
  border: 1px solid $light-grey;
  border-radius: 4px;
  margin-top: spacing(3);
  resize: vertical;
  font-size: 1em;
  box-sizing: border-box;
}

input[type=submit] {
  margin-top: spacing(3);
}
