.navbar {
  min-height: 0;
  transition: all 0.2s ease-in;
  //positioning
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navbar__logo {
  @media screen and (min-width: $bp-sm) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  padding-top: 9px;
  display: inline-block;
  height: 45px;
}

.navbar__logo--hidden {
  display: none;
}

.navbar--background {
  background-color: rgba(255,255,255,0.95);
  box-shadow: 0px 0px 5px 0px rgba(150,150,150,1)
}

.navbar-buttons {
  list-style-type: none;
  float: right;
}

.navbar-button {
  display: inline-block;
  color: white;
  padding: spacing(3) spacing(3) spacing(4);
  &:hover {
    background: $light-grey;
  }
}

.navbar-button--background {
  color: black;
}
